@charset "UTF-8";

body{
    background-color: rgb(198, 235, 198);
}

h1#principal{
    color: rgb(2, 66, 2);
    text-align: center;

}
h1.subtítulo{
    color: rgb(21, 107, 219);
    text-align: center;
}

h2{
    color: rgb(2, 66, 2);

}